/*  your css code here. If applicable */
.box{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
	position:relative;
}
p{
	position:absolute;
	left:30%;
	top:40%;
	color:purple;
}

